page-contact {
    .unit{
        border-bottom: 0.55px solid #c8c7cc;
        margin-top: 10px;
    }
    .item-unit{
        border: 0.55px solid #c8c7cc;
        padding: 10px;
        border-left-color: transparent;
        border-bottom-color: transparent;
    }
    .itemImg{
        width: 70%;
    }
}
